<div class="card-wrapper">
    <div class="columns is-vcentered card-content">
        <div class="column is-one-quarter">
            <figure class="image">
                <ImageProtector Src="@Movie.Cover"  class="cover-image" />
            </figure>
        </div>
        <div class="column content-column">
            <div class="content-top">
                <h2 class="title is-4">@Movie.Title</h2>
                <div class="tags">
                    @foreach (string category in Movie.Categories)
                    {
                        <span class="tag is-light">@category</span>
                    }
                </div>
            </div>
            <div class="content-bottom">
                <p class="subtitle is-6">@Localizer.GetString(nameof(ResourceListCard.ReleaseYearLabel)) @Movie.Year</p>
                <div class="buttons">
                    <a href="movie/@Movie.Id" class="button is-primary">@Localizer.GetString(nameof(ResourceListCard.DetailsLabel))</a>
                    <AuthorizeView>
                        <Authorized>
                            <button type="button" class="button is-success @(IsWorking ? "is-loading":"")" @onclick=OnPlay_Click>
                                <span class="icon">
                                    <i class="fa-solid fa-play"></i>
                                </span>
                            </button>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>
</div>
