@if (Movie is not null)
{
    <div class="header">
        <img src="@Movie.Cover" class="header-image" alt="Movie Image" />
        <h1 class="title header-title">@Movie.Title</h1>
    </div>
    <div class="info-section">
        <div class="info-item">
            <p class="subtitle is-6"><RateStarComponent Rate=Movie.Rate /></p>
            <p class="title is-5">@Localizer.GetString(nameof(ResourceMovieDetailComponent.Rating))</p>
        </div>
        <div class="info-item">
            <p class="subtitle is-6">@Localizer.GetString(nameof(ResourceMovieDetailComponent.Released))</p>
            <p class="title is-5">@Movie.Year</p>
        </div>
        <div class="info-item">
            <p class="subtitle is-6">@Localizer.GetString(nameof(ResourceMovieDetailComponent.TotalViews))</p>
            <p class="title is-5">@Movie.TotalViews</p>
        </div>
    </div>
    @ChildContent
    <div class="tags-section">
        @foreach (string category in Movie.Categories)
        {
            <span class="tag is-success">@category</span>
        }
    </div>
    <div class="additional-info">
        <p><strong>@Localizer.GetString(nameof(ResourceMovieDetailComponent.Actors)):</strong> @string.Join(", ", Movie.Actors)</p>
        <p>@Movie.Description</p>
        <p><strong>@Localizer.GetString(nameof(ResourceMovieDetailComponent.Directors))</strong> @string.Join(", ", Movie.Directors)</p>
        @if (string.IsNullOrEmpty(Movie.OriginalTitle) == false)
        {
            <p><strong>@Localizer.GetString(nameof(ResourceMovieDetailComponent.OriginalTtileLabel))</strong> @Movie.OriginalTitle</p>
        }
    </div>
    <div class="info-section">
        <div class="info-item">
            <p class="title is-5">@Localizer.GetString(nameof(ResourceMovieDetailComponent.Relatives))</p>
        </div>
    </div>
    <RelativeMoviesComponent Data=RelativesData OnChangeRelative="ChangeRelative" MovieId="@Movie.Id" />
}
else
{
    <WaitingLoader />
}