<div class="relatives-section">
    @if (Relatives is null)
    {
        <span class="relative-item">
            <LoaderSpining />
        </span>
    }
    else if (Relatives.Any())
    {
        @foreach (RelativeMovie relative in Relatives)
        {
            <a href="movie/@relative.Id" class="relative-item">
                <ImageProtector Src="@relative.Cover" class="relative-image" />
                <p class="relative-title">@relative.Title</p>
                <div class="match-results">
                    <h4>@(Localizer.GetString($"RelativeType{relative.Data.RelativeOf.ToString().ToUpper()}"))</h4>
                    <div class="tags is-flex is-justify-content-center">
                        @foreach (string match in relative.Data.Data)
                        {
                            <span class="tag">@match</span>
                        }
                    </div>
                </div>
            </a>
        }
    }
    else
    {
        <p>@Localizer.GetString(nameof(ResourceRelativeMoviesComponent.NotFound))</p>
    }
</div>
<div class="columns mb-4">
    <div class="column has-text-centered">
        <h3 class="subtitle is-6">@Localizer.GetString(nameof(ResourceRelativeMoviesComponent.SearchTitle))</h3>
        <div class="tags is-flex is-justify-content-center">
            <span class="tag" @onclick="() => ChangeRelative(RelativeType.CATEGORY)"><i class="fa-solid fa-film"></i></span>
            <span class="tag" @onclick="() => ChangeRelative(RelativeType.ACTOR)"><i class="fa-solid fa-user-tag"></i></span>
            <span class="tag" @onclick="() => ChangeRelative(RelativeType.DIRECTOR)"><i class="fa-solid fa-clapperboard"></i></span>
        </div>
    </div>
</div>


