<div class="card-wrapper">
    <a href="movie/@Movie.Id" class="columns is-vcentered card-content">
        <div class="column">
            <h2>@Movie.Title</h2>
            <p>@Localizer.GetString(nameof(ResourceWatchedCardComponent.Duration)) @Movie.Duration</p>
            <p>@Localizer.GetString(nameof(ResourceWatchedCardComponent.Rate)) @Movie.Rate</p>
            <p>@Localizer.GetString(nameof(ResourceWatchedCardComponent.Times)) @Movie.Times</p>
        </div>
        <div class="column">
            <ImageProtector Src="@Movie.Cover" />
        </div>
    </a>
</div>


