@page "/add"
@inject IStringLocalizer<ResourceAddMovie> Localizer
@* @attribute [Authorize] *@

<div class="container">
    <h1 class="title">Add New</h1>

    @if (Movie is not null)
    {
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">@Localizer.GetString(nameof(ResourceAddMovie.TitileLabel))</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="@Localizer.GetString(nameof(ResourceAddMovie.TitileLabel))" @bind="Movie.Title">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">@Localizer.GetString(nameof(ResourceAddMovie.TitleOriginal))</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="@Localizer.GetString(nameof(ResourceAddMovie.TitleOriginal))" @bind="Movie.OriginalTitle">
                    </div>
                </div>
            </div> 
        </div>


        <div class="columns">
            <div class="column">
                @if (!string.IsNullOrEmpty(Movie.Cover))
                {
                    <figure class="image is-128x128">
                        <img src="@Movie.Cover" alt="Cover">
                    </figure>
                }
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">@Localizer.GetString(nameof(ResourceAddMovie.CoverUrlLabel))</label>
                    <div class="control">
                        <input class="input" type="text" @bind="Movie.Cover">
                    </div>
                </div>

                <div class="box">
                    <div class="field">
                        <label class="label">@Localizer.GetString(nameof(ResourceAddMovie.CategoriesLabel))</label>
                        <div class="control">
                            <div class="tags">
                                @foreach (string category in Movie.Categories)
                                {
                                    <div class="tag is-link">
                                        <span>
                                            @category
                                        </span>
                                        <button type="button" @onclick="() => Movie.Categories.Remove(category)" class="delete is-small"></button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">

                <div class="field">
                    <label class="label">@Localizer.GetString(nameof(ResourceAddMovie.RatingLabel))</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="@Localizer.GetString(nameof(ResourceAddMovie.RatingLabel))" @bind="Movie.Rate">
                        <RateStarComponent Rate=Movie.Rate />
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">@Localizer.GetString(nameof(ResourceAddMovie.DurationLabel))</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="69" @bind="Movie.Duration">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">@Localizer.GetString(nameof(ResourceAddMovie.ReleasedLabel))</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="1976" @bind="Movie.Year">
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="field">
                <label class="label">@Localizer.GetString(nameof(ResourceAddMovie.ActorsLabel))</label>
                <div class="control">
                    <div class="tags">
                        @foreach (string actor in Movie.Actors)
                        {
                            <div class="tag is-warning ">
                                <span>
                                    @actor
                                </span>
                                <button type="button" @onclick="() => Movie.Actors.Remove(actor)" class="delete is-small"></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="field">
                <label class="label">@Localizer.GetString(nameof(ResourceAddMovie.DirectorsLabel))</label>
                <div class="control">
                    <div class="tags">
                        @foreach (string director in Movie.Directors)
                        {
                            <div class="tag is-success">
                                <span>
                                    @director
                                </span>
                                <button type="button" @onclick="() => Movie.Directors.Remove(director)" class="delete is-small"></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">@Localizer.GetString(nameof(ResourceAddMovie.DescriptionLabel))</label>
            <div class="control">
                <textarea class="textarea" placeholder="@Localizer.GetString(nameof(ResourceAddMovie.DescriptionLabel))" @bind="Movie.Description"></textarea>
            </div>
        </div>

        <div class="control">
            <button class="button is-primary" @onclick="SaveMovie">@Localizer.GetString(nameof(ResourceAddMovie.ButtonSaveLabel))</button>
        </div>
    }
    else
    {
        <div class="columns">
            <div class="column">
                <SearchMovieComponent OnSelect=OnMovieSelect TSearchService="SearchMovieSpanishService" />
            </div>
            <div class="column">
                <SearchMovieComponent OnSelect=OnMovieSelect TSearchService="SearchMovieEnglishService" />
            </div> 
            <div class="column">
                <div class="field">
                    <label class="label">&nbsp;</label>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" @onclick="NewMovie">@Localizer.GetString(nameof(ResourceAddMovie.ButtonAddLabel))</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>