@page "/relations"

<div class="container">
    <div class="top-menu">
        <div class="tabs is-centered">
            <ul>
                <li class="@(RelativeTo == RelativeType.ACTOR ? "is-active":"")" @onclick="() => RelativeTo = RelativeType.ACTOR"><a>@Localizer[nameof(ResourceRelations.Actors)]</a></li>
                <li class="@(RelativeTo == RelativeType.DIRECTOR ? "is-active":"")" @onclick="() => RelativeTo = RelativeType.DIRECTOR"><a>@Localizer[nameof(ResourceRelations.Directors)]</a></li>
                <li class="@(RelativeTo == RelativeType.CATEGORY ? "is-active":"")" @onclick="() => RelativeTo = RelativeType.CATEGORY"> <a>@Localizer[nameof(ResourceRelations.Categories)]</a></li>
                <li>
                    <div class="field">
                        <div class="control">
                            <input class="input" @bind=Search />
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        @if (MoviesRelations is null)
        {
            <WaitingLoader />
        }
        else
        {

            <div class="field is-grouped is-grouped-multiline is-centered">
                @foreach (MovieCounter category in Paginator.Items)
                {
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-info">@category.Count</span>
                            <span class="tag @(Selection == category ? "is-success":"is-dark")" @onclick="() => Selection = category">@category.Name</span>
                            @if (RelativeTo == RelativeType.ACTOR || RelativeTo == RelativeType.DIRECTOR)
                            {
                                <span class="tag is-info" @onclick="() => Actor = category.Name">
                                    <span class="icon">
                                        <i class="fa-solid fa-info"></i>
                                    </span>
                                </span>
                            }
                        </div>
                    </div>
                }
            </div>

        }
        <Paginator Handler=Paginator OnPageChange=ToPage />
    </div>

    @if (Selection is not null)
    {
        <MoviesBasicListComponent Movies=Selection.Movies />
    }
</div>