@inject IStringLocalizer<ResourceApp> Localizer
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <h1 class="title">401</h1>
                        <h2 class="subtitle">@Localizer.GetString(nameof(ResourceApp.Error401Message))</h2>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1 class="title">404</h1>
                <h2 class="subtitle">@Localizer.GetString(nameof(ResourceApp.Error404Message))</h2>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
