@inject IStringLocalizer<ResourceFooter> Localizer
<div class="menu">
    <ul class="menu-list custom-menu">
        <li>
            <NavLink href="" ActiveClass="is-active" Match="NavLinkMatch.All" class="custom-nav-link">
                <span class="icon"><i class="fas fa-film"></i></span>
                <span>@Localizer.GetString(nameof(ResourceFooter.AllMoviesLabel))</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="watchlist" ActiveClass="is-active" Match="NavLinkMatch.All" class="custom-nav-link">
                <span class="icon"><i class="fas fa-list"></i></span>
                <span>@Localizer.GetString(nameof(ResourceFooter.Watchlist))</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="watching" ActiveClass="is-active" Match="NavLinkMatch.All" class="custom-nav-link">
                <span class="icon"><i class="fas fa-eye"></i></span>
                <span>@Localizer.GetString(nameof(ResourceFooter.Watching))</span>
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li>
                    <NavLink href="add" ActiveClass="is-active" class="custom-nav-link">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                        <span>@Localizer.GetString(nameof(ResourceFooter.AddMoview))</span>
                    </NavLink>
                </li> 
            </Authorized>
        </AuthorizeView>
                <li>
                    <NavLink href="add" ActiveClass="is-active" class="custom-nav-link">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                        <span>@Localizer.GetString(nameof(ResourceFooter.AddMoview))</span>
                    </NavLink>
                </li>
    </ul>
</div>
