@inject NavigationManager Navigation
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <ImageProtector Src="_content/DrVideoLibrary.Razor/img/logo.png" />
        </a>

        <button type="button" @onclick="() => IsActive = !IsActive" role="button" class="navbar-burger @BurgerActive" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </button>
    </div>

    <div class="navbar-menu @BurgerActive">
        <div class="navbar-end">
            <div class="navbar-item">
                <AuthorizeView>
                    <Authorized>
                        <span class="navbar-item @Active">
                            <ImageProtector Src="https://books.community-mall.com/images/file070825676587736583778817187786848566707281006846872787106475657384.jpg" class="user-avatar" />
                        </span>
                        <div class="buttons">
                            <button class="button is-danger is-small" @onclick="BeginLogOut">Log out</button>
                            <NavLink href="setup" class="button is-light" ActiveClass="@Active">
                                <span class="icon"><i class="fa-solid fa-gear"></i></span>
                            </NavLink>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="buttons">
                            <NavLink href="authentication/login" class="button is-light" ActiveClass="@Active">
                                <span class="icon"><i class="fa-solid fa-user-lock"></i></span>
                            </NavLink>                                                  
                            <NavLink href="setup" class="button is-light" ActiveClass="@Active">
                                <span class="icon"><i class="fa-solid fa-gear"></i></span>
                            </NavLink> 
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</nav>

@code {
    const string Active = "is-active";
    bool IsActive;
    string BurgerActive => IsActive ? Active : "";

    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
